@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes pulse-dot {
  0%, 100% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.5);
  }
}

.animate-pulse-dot {
  animation: pulse-dot 1.5s infinite ease-in-out;
}

.animate-pulse-dot.delay-200 {
  animation-delay: 0.2s;
}

.animate-pulse-dot.delay-400 {
  animation-delay: 0.4s;
}
@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 1s ease-out;
}

.delay-1 {
  animation-delay: 0.5s;
}

.delay-2 {
  animation-delay: 1s;
}
/* Keyframes for fly-in animations */
@keyframes flyInFromLeft {
  0% {
      opacity: 0;
      transform: translateX(-100%);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes flyInFromRight {
  0% {
      opacity: 0;
      transform: translateX(100%);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes flyInFromBottom {
  0% {
      opacity: 0;
      transform: translateY(100%);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

/* Initial states for elements */
.hidden {
  opacity: 0;
  transform: translateX(-100%);
}

.scroll-animation {
  opacity: 0;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
